name: Python Script Test

on:
  schedule:
    - cron: "30 17 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Run script
        run: python scripts/fetch_workout.py
